In [ ]:
anyName() # pre derfine function
ref.anyName() # pre derfine method

In [1]:
a="Pakistan"
print(a)
print(type(a))

Pakistan
<class 'str'>

In [2]:
a.capitalize()

'Pakistan'

In [5]:
b="zindabad"
print(b)

zindabad

In [6]:
b.upper()

'ZINDABAD'

In [7]:
print?

In [9]:
b.upper()

'ZINDABAD'

In [12]:
abc = """
Saylani Welfare trust
City:Karachi
Country :Pakistan """

In [13]:
print(abc)

Saylani Welfare trust
City:Karachi
Country :Pakistan

In [17]:
print(abc.capitalize())

saylani welfare trust
city:karachi
country :pakistan

In [15]:
xyz="""
*** PIAIC ***
Saylani Welfare Trust
Name : Muhammad Osama
S/o : Muhammad Usman
"""

In [16]:
print(abc)

Saylani Welfare trust
City:Karachi
Country :Pakistan

In [19]:
UserName=input("Enter your name")
S_O=input("Enter your father Name")
R_No=input("Enter Roll No.")


xyz="""
*** PIAIC ***
Saylani Welfare Trust
Name : {}
S/o : {}
Roll No :{}
"""

print(xyz.format(UserName,S_O,R_No))

Enter your nameMuhammad Usama
Enter your father NameMuhammad Usman
Enter Roll No.123

*** PIAIC ***
Saylani Welfare Trust
Name : Muhammad Usama
S/o : Muhammad Usman
Roll No :123

In [21]:
a="I Love"
b="Pak Army" #Data type should be same

a+b

'I LovePak Army'

In [23]:
a=5
b=7
a+b

12

In [24]:
15/5

3.0

In [25]:
15//2

7

In [30]:
a=3
a**=3

In [31]:
a

27

In [32]:
a

27

In [34]:
a='abc'
b='xyz'
c=2
a+b+c

TypeError: can only concatenate str (not "int") to str